body 
{
	width: 300px;
	height: 40px;
}

h1
{
	text-align: center;
}

/* no idea how to center a group of buttons :( */
button
{
	margin: 2px;
}
/* why 99%.. no one knows -- moving along */
.green {
    width: 99%;
    height: 100%;
    /*border: 1px solid green;*/
	display: inline;
}
.red {
    width: 49%;
    height: 70px;
    float: left;
	text-align: right;
}
.blue {
    width: 49%;
    height: 100px;
    float: right;
	text-align: right;
}

.bottom {
    width: 99%;
    height: 100%;
    clear: both;
	text-align: center;
}

.text
{
	margin: 10px;
	padding: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

strong
{
	font-size: 32px;
}

sub
{
	font-style: italic;
	font-size: 20px;
	position: relative;
	top: -20px;
}

